* {
  box-sizing: border-box;
}

body {
  background-color: rgba(0,0,0,0.05);
  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}

h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
}

* {
  box-sizing: border-box;
}

.title {
  text-align: center;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 64px;
  height: 64px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 64px;
}

.board-row {
  display: flex;
  justify-content: center;
}

.board-row:after {
  clear: both;
  content: '';
  display: table;
}

.status {
  margin-bottom: 10px;
}

.game {
  display: block;
}

@media (min-width: 640px) {
  .game {
    display: flex;
    flex-direction: row;
    margin: auto;
  }
}

.game-board {
  background-color: rgb(255 255 255);
  flex: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
  text-align: center;
}

@media (min-width: 640px) {
  .game-board {
      border-radius: .5rem;
      box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
      padding-left: 2.5rem;
      padding-right: 2.5rem;
      padding-bottom: 2rem;
  }
}

.game-info {
  flex: auto;
  margin-left: 20px;
}
